.transactions-active-area {
    background-color: white;
    border-radius: 8px;
    padding: 24px;
}

.transactions-active-area .header {
    display: flex;
    justify-content: space-between;
}

.transactions-active-area .header .filters {
    display: flex;
}

.transactions-active-area table {
    width: 100%;
    height: fit-content;
    table-layout: fixed;
}

.transactions-active-area table.t-header {
    margin-top: 24px;
}

.transactions-active-area td, th {
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
    overflow-wrap: anywhere;
    border-bottom: 1px solid rgb(240, 235, 235);
}

.transactions-active-area th {
    font-size: 12px;
    font-weight: normal;
}

.transactions-active-area td {
    font-size: 16px;
}

.transactions-active-area th:last-child,td:last-child {
    text-align: right;
}

/* ================ FILTERS ================================== */

.transactions-active-area .select-container {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0px 12px 0px 12px;
}

.transactions-active-area .select-container label {
    padding-right: 12px;
}

.transactions-active-area .select-container select {
    font-size: 16px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
}

.transactions-active-area .mobile-icons {
    display: flex;
    gap: 12px;
    padding-left: 8px;
}
