.overview-page {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 0 12px;
    height:fit-content;
}

.overview-page .page-header {
    display: flex;
    flex-direction: column;
    height: 5%;
}

.overview-page .page-header .title {
    font-size: 2em;
    font-weight: bolder;
}

/* =========== TOP CARDS ============================== */

.overview-page .top-cards {
    display: flex;
    justify-content: space-between;
    height:15%;
}

.overview-page .top-cards.portrait {
    flex-direction: column;
    gap: 12px;
}

.overview-page .top-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:30%;
    height:100%;

    background-color: white;
    border-radius: 15px;
    padding: 12px;
    box-sizing: border-box;
}

.overview-page .top-cards .card.mobile {
    width:100%;
}

.overview-page .top-cards .card.active {
    background-color: black;
    color: white;    
}

.overview-page .top-cards .card .amount {
    font-size: 1.5em;
    font-weight: bolder;
}

.overview-page > .content {
    width:100%;
    height:75%;
    display: flex;
    gap: 12px;
}

.overview-page > .content.portrait {
    flex-direction: column;
}

.overview-page > .content > .left {
    width:60%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.overview-page > .content > .left.portrait {
    width:100%;
}

.overview-page > .content > .right {
    /* width:30%; */
    flex:1;
    height:100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* =========== OVERVIEW CARD ============================== */

.overview-card {
    background-color: white;
    border-radius: 15px;
    padding: 12px;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px black;
    flex:1;
}

.overview-card .header {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding-bottom: 1%;
}

.overview-card .header .title {
    font-weight: bolder;
    font-size: 1.2em;
}

.overview-card .header .route {
    font-size: 0.8em;
    opacity: 0.5;
    text-decoration: none;
    color: black;
}

.overview-card .header .route:hover {
    opacity: 1;
}

.overview-card .header .route i {
    padding-left: 12px;
}

/* **************** POTS ********************************** */

.pots.overview-card .data {
    height:65%;
    display: flex;
}

.pots.overview-card .data .total-saved {
    display: flex;
    width:40%;
    border-radius: 10px;
    background-color: rgb(182, 150, 90);
    justify-content: space-around;
}

.pots.overview-card .data .total-saved .icon {
    font-size: xxx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pots.overview-card .data .total-saved .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pots.overview-card .data .total-saved .info .value {
    font-size: x-large;
    font-weight: bolder;
}

.pots.overview-card .data .categories {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: center;
    row-gap: 8px;
}

.pots.overview-card .data .categories .ticket {
    display: flex;
    font-size: 12px;
    width:45%;
    height:45%;
    gap: 12px;
}

.pots.overview-card .data .categories .ticket .color {
    width: 5px;
    height:100%;
}

.pots.overview-card .data .categories .ticket .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.pots.overview-card .data .categories .ticket .details .caption {
    line-height: 1;
}

.pots.overview-card .data .categories .ticket .details .amount {
    font-weight: bolder;
    font-size: 1.2em;
}

.color1 {
    background-color: #277C78;
}

.color2 {
    background-color: #82C9D7;
}

.color3 {
    background-color: #626070;
}

.color4 {
    background-color: #F2CDAC;
}

/* **************** TRANSACTIONS ********************************** */

.transactions.overview-card .users-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-around;
}

.transactions.overview-card .users-list .transaction-user {
    display: flex;
    place-items: center;
    justify-content: space-between;
}

.transactions.overview-card .users-list .transaction-user .left {
    display: flex;
    place-items: center;
    gap: 24px;
}

.transactions.overview-card .users-list .transaction-user .left img {
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    width:70px;
}

.transactions.overview-card .users-list .transaction-user .left .user-name {
    font-weight: bolder;
    white-space: nowrap;
}

.transactions.overview-card .users-list .transaction-user .right .amount {
    font-weight: bolder;
}

.amount-plus-color {
    color: #277C78;
}

.amount-minus-color {
    color: black;
}

.transactions.overview-card .users-list .transaction-user .right .date {
    font-size: 0.8em;
}

/* **************** BUDGETS ********************************** */

.budgets.overview-card .data {
    display: flex;
    gap: 12px;
    height: 80%;
}

.budgets.overview-card .data .chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.budgets.overview-card .data .chart img {
    width:90%;
}

.budgets.overview-card .data .chart .info {
    position: absolute;
    text-align: center;
}

.budgets.overview-card .data .chart .info .amount {
    font-weight: bolder;
}

.budgets.overview-card .data .info {
    display: flex;
    flex-direction: column;
    width:60%;
    gap: 12px;
}

.budgets.overview-card .data .info .ticket {
    display: flex;
    height:20%;
    gap: 12px;
}

.budgets.overview-card .data .info .ticket .color {
    width: 5px;
    height: 100%;
}

.budgets.overview-card .data .info .ticket .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.budgets.overview-card .data .info .ticket .details .title {
    font-size: 0.8em;
}

.budgets.overview-card .data .info .ticket .details .amount {
   font-weight: bolder;
}

/* **************** RECURRING BILLS **********************************88 */

.bills.overview-card .cards {
    display: flex;
    flex-direction: column;
    width:100%;
    height:85%;
    gap: 12px;
}

.bills.overview-card .cards .info-card {
    width: 100%;
    height:33%;
    background-color: rgb(223, 217, 210);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
}

.bills.overview-card .cards .info-card .amount {
    font-weight: bolder;
}

.bills.overview-card .cards .info-card.color1 {
    border-left: 5px solid #277C78;
}

.bills.overview-card .cards .info-card.color2 {
    border-left: 5px solid #F2CDAC;
}

.bills.overview-card .cards .info-card.color3 {
    border-left: 5px solid #82C9D7 !important;
}

.bottom-gap {
    border: 2px solid transparent;
}