.modal {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  border: 3px solid black;
  background-color: white;
  border-radius: 12px;
  max-width: 500px;
  min-width: 300px;
}

.modal .content .close {
    display: flex;
    justify-content: end;
    padding-bottom: 12px;
}

.modal .content .close i {
    padding: 4px;
    color: black;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.modal .content .close i:hover {
    background-color: black;
    color: white;
}

.modal .content .title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding: 8px;
}

.modal .content .subtitle {
    padding: 8px;
}