.sidebar {
    width:100%;
    background-color: black;
    color:white;
    transition: width 0.2s ease;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-flex;
}

.sidebar.tablet, .sidebar.mobile {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: space-around;
}

.sidebar.close {
    width: 50px;
}

.sidebar-content {
    display: flex;

    flex-direction: column;
    transition: width 0.3s ease;
}

.sidebar-content.tablet, .sidebar-content.mobile {
    width: 100%;
}

.sidebar-content.open {
    visibility: visible;
}

.sidebar-content.close {
    visibility: hidden;
    width: 10%;
}

.toggle-sidebar-btn {
    font-weight: bolder;
    font-size: x-large;
    cursor: pointer;
    margin: auto;
    padding: 4px;
}

.sidebar-title {
    font-size: xx-large;
    font-weight: bold;
    padding: 18px;
    margin-bottom: 24px;
}

.sidebar-title.tablet, .sidebar-title.mobile {
    display: none;
}

.sidebar-items-container.tablet, .sidebar-items-container.mobile {
    display: flex;
    width:100%;
    justify-content: space-around;
}

.sidebar-item {
    display: flex;
    place-items: center;
    font-weight: bolder;
    cursor: pointer;

    margin-right : 30px;
    border-top-right-radius: 20px;;
    border-bottom-right-radius: 20px;
    opacity: 0.5;
    font-size: 1.2rem;
}

.sidebar-item.tablet, .sidebar-item.mobile {
    flex-direction: column;
    opacity: 1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    padding: 0 8px;
    margin-top: 8px;
    margin-right : 0;
    font-size: 12px;
}

.sidebar-item:hover {
    opacity: 1;
}

.sidebar-item.active {
    background-color: white;
    color:black;
    opacity: 1;
}

.sidebar-item .sidebar-item-icon {
    font-size: 2rem;
}

.sidebar-item.desktop .sidebar-item-icon {
    padding: 12px;
}

.sidebar-item.active .sidebar-item-icon {
    color:green;
}

.sidebar-item-text {
    padding-right: 8px;
}

.sidebar-item-text.tablet, .sidebar-item-text.mobile {
    padding-bottom: 8px;
}
