html {
  height:auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #b8b097;
  /*overflow: hidden; /* optional: prevents scrollbars */
}

body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding:0;
  /* overflow: hidden;  */
  display: block;
  place-items: center;
  background-color: #b8b097;
  /* box-sizing: border-box; */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #213547;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
